@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; }
body { font-family: 'Open Sans', sans-serif; }
img { max-width: 100%; height: auto; }

body > header,
body > section,
body > footer {
	max-width: 980px;
	width: 90%;
	margin: 0 auto;
}

section::before,
section::after {
	content: " ";
	display: table;
}
section::after { clear: both; }
section { *zoom: 1; }

footer { text-align: right; }

input[type="checkbox"] {
	position: absolute;
	left: -9999px;
}

label {
	cursor: pointer;
	padding: 20px 10px;
	margin: 0 -10px;
	display: block;
	transition: all .3s;
	position: relative;
}
	label:hover {
		background-color: rgba(75,75,75,.05);
	}
	label::after {
		position: absolute;
		right: 10px;
		font-family: "FontAwesome";
		content: "\f13a";
	}
	input:checked ~ label::after { content: "\f139"; }

.sample {
	display: none;
	float: left;
	width: 100%;
	overflow: hidden;
	cursor: pointer;
	border: 1px solid transparent;
	transition: all .3s;
	background-color: #fff;
	border: 1px solid #ccc;
	margin: 10px 0;
}
	input:checked ~ .sample { display: block; }
